<div class="row">
    <div class="col-md-9" id="page-wrapper"></div>
    <div class="col-md-3 right-navigation">
        <div class="navbar-default sidebar" id="visitor-menu" ></div>

        <%if(window.currentUser.get("permission") == 1 ){%>
        <div class="navbar-default sidebar" id="default-menu">
            <div class="">
                <ul id="side-menu" class="nav">
                    <li>
                        <a data-toggle="collapse" data-parent="#side-menu" href="#users" aria-controls="users">
                            <%=labels.users%><span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse"  id="users" aria-labelledby="users">
                            <li class="switch-list" data-type="users">
                                <a><%=labels.users_list%></a>
                            </li>

                            <li class="switch-list" data-type="user_form">
                                <a><%=labels.add_new_user%></a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a data-toggle="collapse" data-parent="#side-menu" href="#places" aria-controls="places">
                            <%=labels.places%><span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse"  id="places" aria-labelledby="places">
                            <li class="switch-list" data-type="places">
                                <a><%=labels.places_list%></a>
                            </li>


                            <li class="witch-map-view">
                                <a><%=labels.show_places_on_map%></a>
                            </li>

                            <li class="switch-list" data-type="place_form">
                                <a><%=labels.add_new_place%></a>
                            </li>

                            <li class="switch-list" data-type="regions">
                                <a><%=labels.zones%></a>
                            </li>

                            <li class="switch-list" data-type="place_types">
                                <a><%=labels.place_types%></a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                </ul>
            </div>
        </div>

        <%}%>

        <%if(window.currentUser.get("permission") == 2 ){%>
        <div class="navbar-default sidebar" id="default-menu">
            <div class="">
                <ul id="side-menu" class="nav">
                    <li>
                        <a data-toggle="collapse" data-parent="#side-menu" href="#places" aria-controls="places">
                            <%=labels.places%><span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse"  id="places" aria-labelledby="places">
                            <li class="switch-list" data-type="places">
                                <a><%=labels.places_list%></a>
                            </li>

                            <li class="switch-list" data-type="place_form">
                                <a><%=labels.add_new_place%></a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <%}%>

        <nav class="footer-nav">
            <div class="copyright">
                <p><%=labels.icro_copyrightText%></p>
                <p>www.icro.ir</p>
            </div>
            <div class="footer_btns">
                <a class="logout"  data-toggle="tooltip" data-placement="left" title="<%=labels.exit%>" style="float: right;"><i class="glyphicon glyphicon-log-out"></i></a>
                <a class="change-password" data-toggle="tooltip" data-placement="right" title="<%=labels.change_password%>"><i class="fa fa fa-key"></i></a>
            </div>
        </nav>
    </div>

</div>


<div class="modal fade change-password-modal" data-toggle="modal" id="change-password-form-popup-holder"></div>