<%if(id){%>
<div>
    <img class="place-image" src="<%=photo%>"/>

    <div class="control-group">
        <label><%=labels.name%></label>
        <span> 
            <%
            if(localName){
            print("(" + localName + ")");
            }
            %>
            <%=name%>
        </span>
    </div>

    <div class="control-group">
        <label><%=labels.region%></label>
        <span><%=region.name%></span>
    </div>

    <div class="control-group">
        <label><%=labels.area%></label>
        <span><%=area.name%></span>
    </div>

    <div class="control-group">
        <label> <%=labels.country%></label>
        <span><%=country.name%></span>
    </div>

    <div class="control-group">
        <label><%=labels.email%></label>
        <span><%=email%></span>
    </div>

    <div class="control-group">
        <label><%=labels.website%></label>
        <span><%=website%></span>
    </div>

    <div class="control-group">
        <label><%=labels.tell%></label>
        <span><%=tell%></span>
    </div>

    <div class="control-group">
        <label><%=labels.managerName%></label>
        <span><%=managerName%></span>
    </div>

    <div class="control-group">
        <label><%=labels.description%></label>
        <span><%=description%></span>
    </div>
</div>
<%}%>