<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header"><%=labels.placeType_selection%>:</div>
        <div class="modal-body active">
            <%_.each(placeTypes, function(item){%>
            <div>
                <input class="placeType" id="<%=item.id%>" type="checkbox" data-name="<%=item.name%>"/>
                <label for="<%=item.id%>"><%=item.name%></label>
            </div>
            <%})%>
        </div>

        <div class="modal-footer two-button">
            <div class="" data-dismiss="modal"><%=labels.cancel%></div>
            <div class="select-placeTyes"><%=labels.select%></div>
        </div>
    </div>

</div>
