<div class="row" data-country="<%=id%>">
    <div class="col-xs-6 col-md-4" style="text-align: left;padding-left: 10px; line-height: 30px;">
        <a class="delete"><i class="glyphicon glyphicon-trash delete-country"></i></a>
        <a class="edit"><i class="glyphicon glyphicon-edit edit-country"></i></a>
    </div>
    <div class="col-xs-6 col-md-4"></div>
    <div class="col-xs-6 col-md-4"><span class="name"><%=name%></span></div>
</div>