
<ul class="nav nav-pills nav-stacked">
    <li>
        <a href="/admin/users">Users</a>
    </li>
    <li>
        <a href="/admin/resources">Resources</a>
    </li>
    <li>
        <a href="/admin/sites">Sites</a>
    </li>
    <li>
        <a href="admin/sites#admin/sites/cats">Categories</a>
    </li>
    <li>
        <a href="admin/pages#">Pages</a>
    </li>
    <li>
        <a href="/invites">Invites</a>
    </li>
</ul>
