
<div class="map-view-filter">
    <div>
        <img src="/img/logo(2).png"  class="login-logo"/>
    </div>
    
    <div class="search-by-name search disabled">
        <input name="name" placeholder="<%=labels.search%>"/>
        <i class="fa fa-search"></i>
        <!--<a class="btn disabled"><i class="fa fa-search"></i></a>-->
    </div>
    
    
    <div class="place-types-list filter-wrapper"></div>

    <div class="regions-list filter-wrapper"></div>

    <div class="search search-by-regions-types disabled">
        <i class="fa fa-search"></i>
        <!--<a class="btn disabled"><i class="fa fa-search"></i></a>-->
    </div>

</div>

<div id="triangle-left"></div>
<%if(window.currentUser.get("permission") != 3){%>
<div class="close-map-view"><i class="fa fa-times"></i></div>
<%}%>