
<div class="row">
    <div class="col-md-10" >
        <form enctype="multipart/form-data">
            <div class="control-group">
                <label><%=labels.country%></label>
                <select name="countryId" required>
                    <option></option>
                    <%_.each(countries, function(item){%>
                    <option value="<%=item.id%>"  <%if(country && country.id == item.id){print('selected');}%>  ><%=item.name%></option>
                    <%})%>
                </select>
            </div>

            <div class="control-group">
                <label><%=labels.place_type%></label>
                <select name="typeId" required>
                    <option></option>
                    <%_.each(placeTypes, function(item){%>
                    <option value="<%=item.id%>"   <%if(placeType && placeType.id == item.id){print('selected');}%>><%=item.name%></option>
                    <%})%>
                </select>
            </div>

            <div class="control-group">
                <label><%=labels.name%></label>
                <input type="text" name="name" value="<%=name%>" required/>
            </div>

            <div class="control-group">
                <label><%=labels.localName%></label>
                <input type="text" name="localName" value="<%=localName%>"/>
            </div>

            <div class="control-group">
                <label><%=labels.email%></label>
                <input type="text" name="email" value="<%=email%>" required/>
            </div>

            <div class="control-group">
                <label><%=labels.website%></label>
                <input type="text" name="website" value="<%=website%>" required/>
            </div>

            <div class="control-group">
                <label><%=labels.tell%></label>
                <input type="text" name="tell" value="<%=tell%>" required/>
            </div>

            <div class="control-group">
                <label><%=labels.managerName%></label>
                <input type="text" name="managerName" value="<%=managerName%>" required/>
            </div>

            <div class="control-group">
                <label><%=labels.description%></label>
                <textarea name="description"><%=description%></textarea>
            </div>

            <div class="control-group">
                <label><%=labels.set_position%></label>
                <input name="latitude" placeholder="<%=labels.latitude%>" value="<%=latitude%>" required/> <input name="longitude" placeholder="<%=labels.longitude%>" value="<%=longitude%>" required/>
                <a style="margin-right: 15px;" class="btn pop-map"><%=labels.set_position_on_map%></a>
            </div>


        </form>
    </div>

    <div class="col-md-2" style="padding: 0;">
        <img class="place-image image-preview" src="<%=photo%>"/>
        <div id="btn_container" class="clear">
            <a class="btn btn-primary add-image right" id="image_upload_btn"><%=labels.add_img%></a>
            <p id="uploadfiles" class="hide"></p>
            <div class="progress left hide" style="width: 300px;">
                <div class="bar"></div>
                <span class="plupload_total_status"></span>
            </div>
        </div>
        <input type="file" name="image" id="file" style="visibility: hidden;"/>
    </div>

</div>


<div  style="clear: both;"></div>
<div class="btn-wrapper">
    <%if(id){%>
    <a class="btn btn-primary create-item"><%=labels.update%></a>
    <%}else{%>
    <a class="btn btn-primary create-item"><%=labels.save%></a>
    <%}%>
</div>


<div class="modal fade" data-toggle="modal" id="popup-holder"></div>

