<!--<div class="row" data-region="<%=id%>">
    <div class="col-xs-6 col-md-4">
        <span class="btn label label-danger delete-region"><%=labels.delete%></span>
        <span class="btn label label-warning show-ares"> <%=labels.show_area%></span>
    </div>
    <div class="col-xs-6 col-md-4"></div>
    <div class="col-xs-6 col-md-4"><%=name%></div>
</div>-->


<div class="item-wrapper row" id="<%=id%>">
    <div class="icons">
        <a class="delete" data-toggle="tooltip"  data-placement="bottom" title="پاک کردن"><i class="glyphicon glyphicon-trash delete-place"></i></a>
        <a class="edit" data-toggle="tooltip"  data-placement="bottom" title="ویرایش"><i class="glyphicon glyphicon-edit"></i></a>
    </div>

    <div class="place-status">
        <%if(type == "wait-place"){%>
        <div class="select-status">
            <a class="published">
                <i class="glyphicon glyphicon-check"></i>
            </a>

            <a class="rejected">
                <i class="glyphicon glyphicon-ban-circle"></i>
            </a>
        </div>

        <%}else{%>
        <%if(status == "1"){%>
        <a class="in-progress">
            <i class="glyphicon glyphicon-hourglass"></i>
        </a>
        <%}%>

        <%if(status == "2"){%>
        <a class="published">
            <i class="glyphicon glyphicon-check"></i>
        </a>
        <%}%>

        <%if(status == "3"){%>
        <a class="rejected">
            <i class="glyphicon glyphicon-ban-circle"></i>
        </a>
        <%}%>
        <%}%>


    </div>

    <div class="col-md-10 item-content-view">
        <h4 class="list-group-item-heading">
            <%=name%>
            <%
            if(localName){
            print("(" + localName + ")");
            }
            %>
        </h4>
        <!--<p class="list-group-item-text shortDesc">sssssssssssssss</p>-->
        <!--<span class="date">  ۱۳۹۳/۰۶/۱۱ </span>-->
        <hr>
        <p class="list-group-item-text longDesc"><%=description%></p>
    </div>
    <div class="col-md-2 item-content-view">
        <img src="<%=photo%>">
    </div>


</div>

